[submodule "third-party/threadx"]
	path = third-party/threadx
	url = https://github.com/eclipse-threadx/threadx.git
[submodule "third-party/cherrysh"]
	path = third-party/cherrysh
	url = https://github.com/cherry-embedded/CherrySH.git
[submodule "third-party/cherryrb"]
	path = third-party/cherryrb
	url = https://github.com/cherry-embedded/CherryRB.git
[submodule "third-party/libbsd"]
	path = third-party/libbsd
	url = git@github.com:KevinACoder/netbsd-src.git
	branch = netbsd-11
[submodule "third-party/lwip"]
	path = third-party/lwip
	url = https://github.com/lwip-tcpip/lwip.git
[submodule "third-party/wpa_supplicant"]
	path = third-party/wpa_supplicant
	url = https://github.com/KevinACoder/wpa_supplicant-rtos
[submodule "third-party/sdmmc"]
	path = third-party/sdmmc
	url = /home/zhugy/workspace/rk3568_lab/os/fsl_sdmmc
