[submodule "third-party/threadx"]
	path = third-party/threadx
	url = https://github.com/eclipse-threadx/threadx.git
[submodule "third-party/cherrysh"]
	path = third-party/cherrysh
	url = https://github.com/cherry-embedded/CherrySH.git
[submodule "third-party/cherryrb"]
	path = third-party/cherryrb
	url = https://github.com/cherry-embedded/CherryRB.git
